h1, h2, h3, p, a, ul, ol, strong{
    font-family: Georgia, serif;
}

.header{
    padding:10px;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}

.header h1{
    margin-left: 50px;
}

.mian-img{
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: cover;

}

.start{
    position: absolute;
}

.top-link{
    font-size: large;
    position: absolute;
    color: white;
    margin-top: -51px;
    margin-left: 80%;
}

.footer{
    border-top:1px solid gray;
    padding-bottom: 20px;
}

.header, .footer{
    background-color: #A4C6FF;
    color: white;
}

.main{
    text-align: center;
    width: 700px;
    margin: auto;
    color: gray;
}

.main a{
    color: gray;
}

.rough-title{
    border-bottom: 1px solid gray;
}

.contents{
    margin-top: 20px;
    text-align: justify;
}

.footer p{
    margin-left: 50px;
}

.links{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

.contents-title{
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.code-result{
    text-align: center;
}

.optional div{
    float: left;
    margin:auto;
    width: 32%;
    border-bottom: 1px solid gray;
}

.optional{
    display: flex;
}

